<!DOCTYPE html>
<html>
<head>
    <title>Car Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚗 Car Detection App</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br>
        <button type="submit">Upload & Predict</button>
    </form>

    {% if image_path %}
        <img src="{{ image_path }}">
    {% endif %}

    {% if result %}
        <div class="result {% if 'Car' in result %}success{% else %}error{% endif %}">
            {{ result }}
        </div>

        <div class="confidence">
            Confidence: {{ confidence }}
        </div>
    {% endif %}
</div>
    

</body>
</html>
